*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}

.main-container{
  width: 100%;
}

.navbar{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: solid 1px rgb(194, 194, 194);
  margin-top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 25px;
 
}

.navbar ul li {
  margin: 0px 15px;
  margin-top: 15px; 
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  font-weight: 500;
}

.navbar ul li a:hover {
  text-decoration: underline;
  font-size: 1.2em;
  transition: 0.2s ease;
}

.navbar ul li img {
  height: 50px; 
  margin-right: 15px; 
  margin-left: 10px;
  object-fit: fill;
}

.uam{
  margin-top: 60px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  color: #1c9aa5;
}

.add h2{
  margin-top: 80px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  color: #1c9aa5;
}

.description{
  text-align: justify;
  margin-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  font-weight: 300;
}

.vitae-values{
  padding: 0;
  margin: 0;
}

.vitae-values p{
  padding-left: 45px;
  padding-right: 55px;
}

.checked{
  height: 40px; 
  object-fit: fill;
  margin-left: 40px;
}

#uam-vitae, #values{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.vitae-card{
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;
  background: #1c9aa5;
}


#values{
  background-color: #f2f2f2;
  width: 100%;
  height: fit-content;

}

.img-values{
  width: 500px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  flex-grow: 1
}

.value-text{
  color: #1c9aa5;
  font-size: 30px;
  margin: 20px 0 10px 45px;
}

.vitae-name{
  margin-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 550;
  color: white;
  text-align: center;
}

.values-det{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  flex-grow: 1
}

.des{
  margin: 6px 15px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-align: justify;
}

.icon-checked {
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-direction: row;
}

.icon-checked p{
  padding-left: 25px;
  padding-right: 55px;
}


.vitae-card--vision{
  background: #136a72;

}

.carousel{
  position: relative;
  height: 400px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.carousel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container{
  position: relative;
  height: 100%;
  overflow: hidden;

}

.carousel-track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-btn--left{
  left: -60px;
}

.carousel-btn--right{
  right: -60px;
}

.carousel-btn img{
  width: 40px;
}

.carousel-nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator{
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(28, 154, 165, .3);
  margin: 0 12px;
}

.carousel-indicator.current-slide{
  background: rgba(28,154,165,.5);
}

.is-hidden{
  display: none;
}